*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right,rgba(77, 164, 227, 0.758),rgba(189, 71, 186, 0.796));
}
.container{
    height: 420px;
    width:25%;
    background-color: rgba(198, 244, 244, 0.210);
    padding: 20px;
    border: none;
    border-radius: 10px;
}   
.container .main{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.container .main .left input, .right input{
    margin: 5px 0 18px 0;
    border: none;
    border-radius: 2px;
    background-color: #ffffffb4;
    padding: 3px 0;
}
.container button{
    margin: 30px 0 0 100px;
    padding: 9px 15px;
    background-image: linear-gradient(to bottom right,rgba(26, 98, 149, 0.758),rgba(146, 22, 142, 0.796));
    border-radius: 25px;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    transition-duration: 1.5s;
}
.container button:hover{
    background-image: linear-gradient(to bottom right,rgba(169, 99, 166, 0.796),rgba(80, 138, 179, 0.758));
    color:  rgb(41, 29, 136);
    transition-duration: 1.5s;
    font-weight: bold;
}
.container .check{
    margin-top: 15px;
}
.container .main .left input:focus, .right input:focus{
    outline: 2px solid rgb(151, 122, 223);
}
